* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

body, html {
    min-height: 100%
}

body {
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    color: #484848;
    background-color: #2b2b2b;
    background-image: url('../img/bg-access.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 600px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 767.98px) {
    .container {
        width: 100%;
        -ms-flex-align: inherit;
        align-items: inherit;
        padding: 0 15px;
    }
}

.container .logo {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    .container .logo {
        margin: 0 auto 20px;
    }
}

.container .box {
    background-color: #fff;
    padding: 40px 100px;
    border-radius: 10px;
}

@media (max-width: 767.98px) {
    .container .box {
        padding: 30px 50px;
    }
}

.container .box .box-title {
    margin: 0 0 30px;
    font-weight: 700;
    color: #484848;
    text-align: center;
}

.container .box form .group-form {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.container .box form .group-form .d-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container .box form .group-form label {
    display: block;
    font-weight: 700;
}

.container .box form .group-form a {
    text-decoration: none;
    color: #484848;
}

.container .box form .group-form input {
    width: 100%;
    height: 40px;
    border: 1px solid #a2a2a2 !important;
    padding-left: 15px;
    margin: 10px 0;
    outline: none;
    border-radius: 5px;
}

.container .box form .group-form .checkbox-inline {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -15px;
    cursor: pointer;
}

.container .box form .group-form .checkbox-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container .box form .group-form .checkbox-inline .text {
    margin-left: 30px;
    font-weight: 400;
}

.container .box form .group-form .checkbox-inline .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #c9c9c9;
    transition: all .5s ease-in-out;
}

.container .box form .group-form .checkbox-inline .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: all .5s ease-in-out;
}

.container .box form .group-form .checkbox-inline:hover input ~ .checkmark {
    background-color: #ccc;
}

.container .box form .group-form .checkbox-inline input:checked ~ .checkmark {
    background-color: #fb613a;
}

.container .box form .group-form .checkbox-inline .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container .box form .group-form .checkbox-inline input:checked ~ .checkmark:after {
    display: block;
}

.container .box form .group-form button {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 0;
    background-color: #484848;
    color: #fff;
    text-align: center;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.container .box form .group-form button:hover {
    background-color: #ffd433;
}

.container .box form .line {
    display: block;
    position: relative;
}

.container .box form .line span {
    background-color: #fff;
    padding: 10px;
    color: #484848;
    position: relative;
    margin: 0 auto;
    display: table;
    z-index: 2;
}

.container .box form .line:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #c9c9c9;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.container .box-footer {
    margin-top: 15px;
    text-align: center;
}

.container .box-footer p {
    display: block;
    margin-bottom: 10px;
}


.span {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 9px !important;
}
